# Практика 4

### Практика. Напишем функцию, которая определяет является ли слово палиндромом

Пример работы программы:
```
print(is_palindrom('Радар'))
True
```

```
print(is_palindrom('строка'))
False
```

In [1]:
'Радар'.lower()

'радар'

In [2]:
'Радар'.upper()

'РАДАР'

In [7]:
'Радар'[::-1]  # 0, 1, 2

'радаР'

In [23]:
def is_palindrom(word):  # snake_case
    # эта строчка нужна, короткий вариант решения
    # return word.lower() == word.lower()[::-1]
    
    word_lower = word.lower()
    reversed_word = word_lower[::-1]
    
    # вариант 1
#     if word_lower == reversed_word:
#         return True  # return завершает работу функции

#     return False

    # вариант 2
    return word_lower == reversed_word

In [24]:
is_palindrom('Строка')

False

In [25]:
is_palindrom('Радар')

True

## args and kwargs
Иногда возникает ситуация, когда вы заранее не знаете, какое количество аргументов будет необходимо принять функции. В этом случае следует использовать аргументы произвольной длины ([args и kwargs](https://habr.com/ru/company/ruvds/blog/482464/)). Они задаются произвольным именем переменной, перед которой ставится звездочка (args) или две здездочки (kwargs).

In [32]:
def sum_division(*params):
    total_sum = 0
    
    for value in params:
        print(value)
        total_sum += value
        
    return total_sum

In [33]:
sum_division(1, 2, 3, 7, 5, 3)

1
2
3
7
5
3

21

In [34]:
def report(**params):
    print(params)
    
    requests.get(URL, params=params)

In [35]:
report(date1='2022-09-01', date2='2022-09-18')

{'date1': '2022-09-01', 'date2': '2022-09-18'}

In [37]:
def set_a():
    return int(input())

In [39]:
a = 5

while int(input()) != 5:
       print(a)

2
5
5

### Практика. Напишем функцию, которая будет находить среднюю цену квартиры по всем переданным в нее районам города

In [40]:
district_1 = {'flat_1': 10500, 'flat_2': 11000}
district_2 = {'flat_3': 15000}
district_3 = {'flat_4': 6500, 'flat_5': 7000, 'flat_6': 6000}

In [60]:
def avg_price(*district_data):
    prices_sum = 0
    prices_count = 0
    
    for data in district_data:
        for price in data.values():
            prices_sum += price
            prices_count += 1
            
    if prices_count > 0:
        return prices_sum / prices_count
    
    return 0

In [59]:
avg_price()

0

In [61]:
avg_price(district_1, district_2, district_3)

9333.333333333334

## Комплексный пример

In [62]:
students_list = [
    {"name": "Василий", "surname": "Теркин", "gender": "м", "program_exp": True, "grade": [8, 8, 9, 10], "exam": 8},
    {"name": "Мария", "surname": "Павлова", "gender": "ж", "program_exp": True, "grade": [7, 8, 9, 7, 9], "exam": 9},
    {"name": "Василий", "surname": "Андреева", "gender": "ж", "program_exp": False, "grade": [10, 1, 8, 10], "exam": 7},
    {"name": "Татьяна", "surname": "Сидорова", "gender": "ж", "program_exp": False, "grade": [7, 8, 8, 9, 8],"exam": 10},
    {"name": "Иван", "surname": "Васильев", "gender": "м", "program_exp": True, "grade": [9, 8, 9, 6, 9, 4], "exam": 5},
    {"name": "Василий", "surname": "Золотарев", "gender": "м", "program_exp": False, "grade": [8, 9, 9, 6, 9], "exam": 6}
]

In [75]:
len(students_list)

6

In [78]:
sum([record['exam'] for record in students_list]) / len(students_list)

7.5

In [71]:
def avg_exam(data):
    exam_sum = 0
    
    for record in data:
        exam_count = record['exam']
        
        exam_sum += exam_count
        # print(record, exam_count, exam_sum)
        
    return exam_sum / len(data)

In [72]:
avg_exam(students_list)

7.5

In [79]:
data = ['погода', 'афиша в питере', 'сколько времени', 'какая рыба вобла']

In [80]:
'афиша в питере'.split(' ')

['афиша', 'в', 'питере']

In [81]:
def word_count(query):
    word_list = query.split(' ')
    word_count = len(word_list)
    
    return word_count

In [83]:
def word_count(query):
    return len(query.split(' '))

In [85]:
word_count = lambda query: len(query.split(' '))

In [86]:
word_count('афиша в питере')

3

In [87]:
students_list

[{'name': 'Василий',
  'surname': 'Теркин',
  'gender': 'м',
  'program_exp': True,
  'grade': [8, 8, 9, 10],
  'exam': 8},
 {'name': 'Мария',
  'surname': 'Павлова',
  'gender': 'ж',
  'program_exp': True,
  'grade': [7, 8, 9, 7, 9],
  'exam': 9},
 {'name': 'Василий',
  'surname': 'Андреева',
  'gender': 'ж',
  'program_exp': False,
  'grade': [10, 1, 8, 10],
  'exam': 7},
 {'name': 'Татьяна',
  'surname': 'Сидорова',
  'gender': 'ж',
  'program_exp': False,
  'grade': [7, 8, 8, 9, 8],
  'exam': 10},
 {'name': 'Иван',
  'surname': 'Васильев',
  'gender': 'м',
  'program_exp': True,
  'grade': [9, 8, 9, 6, 9, 4],
  'exam': 5},
 {'name': 'Василий',
  'surname': 'Золотарев',
  'gender': 'м',
  'program_exp': False,
  'grade': [8, 9, 9, 6, 9],
  'exam': 6}]

In [95]:
# сортировка по имени

sorted(students_list, key=lambda x: -sum(x['grade']))  # в x приедут элементы списка students_list

[{'name': 'Иван',
  'surname': 'Васильев',
  'gender': 'м',
  'program_exp': True,
  'grade': [9, 8, 9, 6, 9, 4],
  'exam': 5},
 {'name': 'Василий',
  'surname': 'Золотарев',
  'gender': 'м',
  'program_exp': False,
  'grade': [8, 9, 9, 6, 9],
  'exam': 6},
 {'name': 'Мария',
  'surname': 'Павлова',
  'gender': 'ж',
  'program_exp': True,
  'grade': [7, 8, 9, 7, 9],
  'exam': 9},
 {'name': 'Татьяна',
  'surname': 'Сидорова',
  'gender': 'ж',
  'program_exp': False,
  'grade': [7, 8, 8, 9, 8],
  'exam': 10},
 {'name': 'Василий',
  'surname': 'Теркин',
  'gender': 'м',
  'program_exp': True,
  'grade': [8, 8, 9, 10],
  'exam': 8},
 {'name': 'Василий',
  'surname': 'Андреева',
  'gender': 'ж',
  'program_exp': False,
  'grade': [10, 1, 8, 10],
  'exam': 7}]

## Анонимные функции, функции map и filter

[Анонимные функции](https://habr.com/ru/post/507642/) создаются при помощи инструкции lambda и используются для более краткой записи функций с одним выражением. Выполняются быстрее обычных и не требуют инструкции return.

Отсортируем словарь

In [96]:
my_dict = {
    'id1': 654321, 
    'id2': 123456, 
    'id3': 777777
}

In [ ]:
sorted(my_dict.items(), key=)  # отсортировать по убыванию значений

# map и filter

In [103]:
data = range(0, 10000000)

In [104]:
res_v1 = [x % 2 for x in data]  # результат в оперативную память

In [105]:
res_v1.__sizeof__()

81528032

In [108]:
res_v1[:5]

[0, 1, 0, 1, 0]

In [113]:
res_v2 = map(lambda x: x % 2, data)
res_v2

In [114]:
res_v2.__sizeof__()

32

In [ ]:
for res in res_v2:
    print(res)

In [109]:
next(res_v2)

0

In [110]:
next(res_v2)

1

In [111]:
next(res_v2)

0

Фильтр

In [116]:
list(data[:20])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [117]:
even_filter = filter(lambda x: x % 2 == 0, data)

In [118]:
next(even_filter)

0

In [119]:
next(even_filter)

2

In [120]:
next(even_filter)

4