# Тема 1

### Вычисления, арифметика

In [1]:
print (2-1)

1

**Если результат один, то print писать необязательно, НО если у нас несколько результатов, то лучше писать print везде**

In [2]:
2-1

1

In [3]:
4 % 3

1

In [4]:
10 / 4

2.5

In [ ]:
5 - (3 + 2) * 6 # при помощи скобок мы чётко задаём порядок

### Переменные

In [ ]:
# Переменная это объект, которому дано имя

In [5]:
row_pp = 1 * 5

In [6]:
a = 10 + 20
b = a * 30
c = a / b
print ('ответ:' , c )

ответ: 0.03333333333333333

In [14]:
b

900

### Задача на призывника

In [16]:
height = 190
age = 21
if height < 170 and age >= 18:
    print ('tankist')
elif height < 180 and age >= 18:
    print ('flot')
elif height > 200 and age >= 18:
    print ('desant')
else:
    print ('army')
print ('end of the programm')

army
end of the programm

In [23]:
if age >= 18:
    user_input = int(input('Введите рост '))
    if user_input < 170:
        print ('tankist')
    elif user_input < 180:
        print ('flot')
    elif user_input > 200:
        print ('desant')
    else:
        print ('army')
else:
    print ('непризывной')

Введите рост 205
desant

## Вебинар 1
**Объявляя переменные в одной сроке, и задавая условия в другой, надо прогонять каждую по отдельности**

In [24]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Краткая запись условий

In [26]:
13 % 2

1

In [31]:
# чётное число?
put_num = int(input('Впиши любое число'))

if put_num % 2 == 0:
    print('Число чётное')
else:
    print('Число нечётное')

Впиши любое число54
Число чёткое

### Изменяемые и неизменяемые типы данных

In [34]:
#чтобы задать список можно использовать []
some_names = ['John', 'James', 'Annet']
some_names.sort()
some_names
#строчки возвращают результат при их изменения, а

['Annet', 'James', 'John']

### Копия списка

In [35]:
#попытавшись создать копию через 
copy_some_names = some_names
# мы обнаружим, что это две переменная, НО id одинаковые -> изменения в одной приведут к изменнию в обеих

In [37]:
# настоящая копия

some_names = ['John', 'James', 'Annet']
copy_some_names = some_names.copy()

In [38]:
id(some_names) == id(copy_some_names)

False

In [39]:
# Формативароние чисел и строк. f"{}."

# Тема 2 - Типы данных и Циклы

### Введение в типы данных
**Строки**

In [1]:
'1' + '2'

'12'

In [3]:
1 + 2

3

In [4]:
my_string = 'Hello World'

In [6]:
my_string.upper()

'HELLO WORLD'

In [7]:
my_string.replace('Hello','Goodbye')

'Goodbye World'

In [8]:
len(my_string)

11

### Идексация и срезы

In [14]:
my_string = 'Hello World'

In [17]:
my_string[2]

'l'

In [18]:
my_string[-1] # последнее значение

'd'

In [19]:
my_string[0:5] # крайнее значение не входит в выборку

'Hello'

In [20]:
my_string[0:8:2]

'HloW'

In [21]:
my_string[6:] #возврат всего после 6 го элемента

'World'

In [23]:
my_string[:6] # если не укзаать первое значение, то по-умолчанию с 0

'Hello '

In [25]:
# Использование IN
my_string = 'Hello World'
target_str = 'World'

if target_str in my_string:
    print('find!')

find!

**f-строки**

In [26]:
name = 'Michael'
surname = 'Kondratev'
print(f'Hello, i am {name}, and my last name is {surname}')

Hello, i am Michael, and my last name is Kondratev

### Списки - list

In [37]:
month_list = ['Jan', 'May', 'Feb']
income_list = [130000, 150000, 110000]
income_by_month = [['Jan', 130000], ['May', 150000], ['Feb', 110000],['Jun', 100000],['Jul', 110000],['Sep', 170000],['Oct', 110000] ]

In [30]:
#Индексация элементов доступна и для Списков
print(income_by_month[-3][1]) #получения элемента находящегося во вложенном списке

130000

In [31]:
# изменения списков
income_by_month [0][1] = 131000 #можно сразу указать несколько элементов с изменениями 
print(income_by_month)

[['Jan', 131000], ['May', 150000], ['Feb', 110000]]

In [32]:
# При сложении списков происходит Конкатинация. То есть к списку1 добавится список2 и получится список состоящий из 2х списков

### Операции со списками

In [35]:
# Распаков списков
first, second, third, fourth = [1, 2, 3, 4]
first

1

In [36]:
first, *other, last = [1, 2, 3, 4] # получение первого и последнего значения в столбце
other

[2, 3]

In [42]:
income_by_month = [['Jan', 130000], ['May', 150000], ['Feb', 110000],['Jun', 100000],['Jul', 110000],['Sep', 170000],['Oct', 110000] ]
income_by_month

[['Jan', 130000],
 ['May', 150000],
 ['Feb', 110000],
 ['Jun', 100000],
 ['Jul', 110000],
 ['Sep', 170000],
 ['Oct', 110000]]

In [43]:
del(income_by_month[-1])
income_by_month

[['Jan', 130000],
 ['May', 150000],
 ['Feb', 110000],
 ['Jun', 100000],
 ['Jul', 110000],
 ['Sep', 170000]]

In [52]:
month_list = ['Jan', 'May', 'Feb']
month_list.remove('Jan')
print(month_list)

['May', 'Feb']

In [49]:
# .append() добавляет элемент в конец списка
# .insert( , ) добавляет элемент в поле по нужному индексу
# .count() кол-во вхождений элемента в список
# .index( , ) узнаём индекс элемента в списке - только первое вхождение
# .reverse() обращает в обратном порядке
# len, sum, max, min, 
# sorted, sorted( , reverse= True) - не меняют реальный порядок в списке, только

In [50]:
sorted(income_list)

[110000, 130000, 150000]

In [53]:
sorted(month_list)

['Feb', 'May']

### Изменение списков

In [54]:
# Приравнивание одной переменной к другой не создаёт новую переменную. Одна ссылается на другую

In [56]:
# Чтобы создать КОПИЮ переменной, нужно испоьзовать copy
import copy
a = [1,2,3]
b = copy.copy(a)

In [57]:
id(a), id(b)

(1846173968960, 1846195774976)

In [59]:
print(f'a = {a}')

a = [1, 2, 3]

### Списки и строки, кортежи

In [60]:
# .split(' разделитель ')

In [64]:
salary_tuple = (1000, 2000, 5000, 800)
# type(salary_tuple)
type(list(salary_tuple))

list

In [ ]:
# изменить элементв в кортеже НЕЛЬЗЯ

In [65]:
# функция zip() создаём Объект объединяющий два Списка, каждый Элемент которого будет представлять из себя Кортеж

### Циклы while и for

In [ ]:
# https://netology.ru/profile/program/bhemft-pp-22-1/lessons/208321/lesson_items/1100472

In [66]:
# Цикл While работает пока условия верное

In [67]:
# Цикл for выполняется для всех элементов списка

In [68]:
# break - прервывает цикл
# continue - позволяет сбрасывать значение, которое выдало ошибку, и переходить дальше по циклу
# pass - позволяет просто пропустить ошибку

## Тема 2 - вебинар

 При использовании fast-string можно также указывать форматирование через {object : форматирование}

In [72]:
data = range(0, 30, 3)
data[1]

3

In [74]:
# получение индекса элемента в списке
for i in range(len(data)):
    print(i, data[i])

0 0
1 3
2 6
3 9
4 12
5 15
6 18
7 21
8 24
9 27

### Игра "Угадай число"

In [75]:
import random

In [77]:
guess_number = random.randint(0, 1000)

! написать самостоятельно решение

## Множества SETS
Множества позволяют получать список из уникальных значений
Множества неупорядоченные - мы не можем сказать какой элемент стоит на каком месте
Скорость поиска по множествам не различается в зависимости от размера эелментов в нём

функция set([]) позволяте получить уникальные значения из списка]
методы 

.intersection позволяет получить пересечение множеств

.difference позволяет получить разницу между списками, элементы которые есть в одном множестве, но не в другом.

In [1]:
print([0, 1, 2, 3, 4, 0])
print(set([0, 1, 2, 3, 4, 0]))

[0, 1, 2, 3, 4, 0]
{0, 1, 2, 3, 4}

In [7]:
first_list = set([0, 1, 2, 3, 4, 0, 785])
second_list = [0, 1, 2, 3, 4, 9123412]

print(first_list.difference(second_list))

{785}

## Dictionaries
Неупорядоченные коллекции произвольных объектов с доступом по ключу

ключами словаря могут быть
strings, booleans, integers, floats

my_dict[key] позволяет получить любое значение из словаря

In [17]:
# словарь задаётся
MLB_team = {
     'Colorado' : 'Rockies',
     'Boston'   : 'Red Sox',
     'Minnesota': 'Twins',
     'Milwaukee': 'Brewers',
     'Seattle'  : 'Mariners'
 }
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [18]:
MLB_team['Boston'] # обращаемся к элементам словаря по ключу

'Red Sox'

In [19]:
del(MLB_team['Seattle'])
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers'}

In [22]:
# добавление ключа в словарь, также можно заменить значение ключа
MLB_team['Saint-P'] = 'Zenit'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Saint-P': 'Zenit'}

In [24]:
# для избежания ошибки при обращении к ключу можно использовать метод .get
print(MLB_team.get('Moscow', 'Not found'))

Not found

mi_dict.setdefault('', ...) позволяет избежать ошибки при изменении значения в словаре, если вдруг обратились к несуществующему ключу

.keys - возвращает ключи из словаря
.values - возвращает значения из словаря
.items  - Возвращает список из кортежей

In [27]:
name = ['Misha', 'Sasha', 'Oleg']
salary = [1000, 1500, 12000]

dict(zip(name, salary)) # возвращает словарь созданный из пары списков

{'Misha': 1000, 'Sasha': 1500, 'Oleg': 12000}

# Topic 4
## Функции

def square(number):
    result = number**2
    return result

**def** объявляет функцию, **square** - имя функции, **number** - параметр функции[optional], всё прочее - тело функции, **return** возвращает значение из функции автоматически, останавливая работу функции [optional]

**help()** позволяет задать подсказки к тому, как работает функция

In [12]:
def square(number):
    """
    this is my function
    """
    result = number ** 2
    return result

print(square(number=10))
# print(square(10))
# ?square ИЛИ help(square)  -вызывает описание функции
help(square)

100
Help on function square in module __main__:

square(number)
    this is my function

def power(number, number_2=2):

Можно задать параметр по умолчанию, который будет применяться, если аргумент не указывается

Функция может ничего не возвращать, если мы не укажем оператор **return**

## Области видимости
**Global scope И Local scope**

global - переменная доступна вне функции (ОСТОРОЖНО)

local - переменная доступна внутри функции. Если используемая переменная не задана внутри функции, то будет использована переменная объявленная в global scope

In [17]:
name = 'James'
def say_hi():
    global name  # ЕСЛИ необходимо, то можно внутри функции создать глобальную переменную
    name = 'Oleg'
    print('Hello, ' + name)

say_hi()

print(name)

Hello, Oleg
Oleg

### lambda-функции

In [23]:
func = lambda x, y: x + y

func(5, 10)

15

In [27]:
nums = [1, 2, 3, 4, 5, 6, 7]

In [33]:
odd_even_numbers = lambda x: 'even' if x % 2 == 0 else 'odd'

In [36]:
for num in nums:
    print(odd_even_numbers(num))

odd
even
odd
even
odd
even
odd

In [38]:
# функция map
list(map(odd_even_numbers, nums))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [39]:
# LIST COMPREHENSION
[odd_even_numbers(num) for num in nums]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

## Кол-во аргументов в функции

### Советы от ДИМЫ

print(x := peka()) 

**:=** позволяет необъявляя переменную заранее использовать её

In [1]:
x = [1, 2, 3] # list
y = {1, 2, 3} # set
z = {1: 'a', 2: 'b'} #dict

try:

response:

позволяют улавливать ошибки и вызывать нужное в случае их возникновения

### Args and kwargs
**Используются, если мы заранее не знаем кол-во аргументов, которое нужно будет принять функции**

Особенно полезны, когда мы работаем с БД, где есть большое кол-во переменных

In [17]:
# api_requset(1, 2, 3)
# api_request(*params) - помещает в функцию располагая элементы списка подряд. Работает, когда мы точно знаем порядок

# api_request(report=2, date=1, output=3)
# api_request(**kwargs) - Передаём параметры и Именованными значениями. Позволяет возвращать словарь.

In [18]:
def report(**params):
    print(params)

In [ ]:
report(date1='2022-09-11', date2='2022-09-18')

Также посмотрели, как сократить код за счёт его разделения на отдельные функции

## Topic 4 Webinar

**Является ли слово палиндромом?**

In [13]:
def is_palindrom(word): #snake_case
    # return word.lower() == word.lower()[::-1] альтернативный вариант решения
    
    word_lower = word.lower()
    reversed_word = word_lower[::-1]
    
    # вариант 1
    if reversed_word == word_lower:
        return True # return завершает работу функции
    else:
        return False # Используя return мы даём себе возможность использовать результат дальше. В случае с print() такой возможности не будет
    
    # вариант 2
#    return word_lower == reversed_word

In [15]:
result = is_palindrom('радар')
print(result)

True

### map генератор
Позволяет сэкономить ресурсы. Работает так: замопоминает что нужно сделать и как, при этом не забивая оперативную память. Обрабатывает какждый элемент по-отдельности.

SyntaxError: invalid syntax (2464671138.py, line 3)

### filter
Возвращает следующее значение, соответствующее условию. Опять же в оперативную память попадает только одно значение.

<class 'range'>